apscheduler
azure-cli
azure-identity>=1.12.0
azure-mgmt-cdn>=11.0.0
azure-mgmt-monitor>=5.0.0
azure-mgmt-rdbms>=10.1.0
azure-mgmt-resource>=21.1.0
azure-mgmt-subscription>=3.0.0
azure-mgmt-web>=7.0.0
beautifulsoup4>=4.12.2
dnspython>=2.4.2
email-validator>=2.0.0
flask>=2.3.3
flask-caching>=2.0.2
flask-dance>=7.1.0
flask-login>=0.6.2
flask-sqlalchemy>=3.0.5
flask-wtf>=1.1.1
graphviz>=0.20.1
gunicorn>=21.2.0
oauthlib>=3.2.2
psycopg2-binary>=2.9.7
pygithub>=1.59.1
pyjwt>=2.8.0
pynacl>=1.5.0
pyopenssl>=23.2.0
pytest>=7.4.0
pytest-cov>=4.1.0
pytest-mock>=3.11.1
python-dotenv>=1.0.0
requests>=2.31.0
sendgrid>=6.10.0
sqlalchemy>=2.0.20
trafilatura>=1.6.1
werkzeug>=2.3.7
wtforms>=3.0.1